<div>
    <p class="text-center fw-bolde mt-2">LOREM IPSUM</p>
    <input id="apple" type="checkbox" name="apple" checked />
    <label for="apple"></label><span>Lorem Ipsum is simply dummy text of the printing.</span><br>
    <input id="apple" type="checkbox" name="apple" checked />
    <label for="apple"></label><span>Lorem Ipsum is simply dummy text of the printing.</span><br>
    <input id="apple" type="checkbox" name="apple" checked />
    <label for="apple"></label><span>Lorem Ipsum is simply.</span>
</div>