<div class="parent">
    <div class="container-fluid overflow-hidden">
        <div class="row">
            <div class="col-md-1 col-sm-1 p-0 text-center">
                <app-drawer></app-drawer>
            </div>
            <div class="col-md-11">
                <div class="row pt-2 mb-2 mt-2">
                    <div class="col-md-6">
                        <div class="me-3 card-container">
                            <div class="card1">
                                <div class="row bg-white card1">
                                    <div class="col-md-4">
                                        <app-bullet></app-bullet>
                                    </div>
                                    <div class="col-md-4">
                                        <app-piechart2></app-piechart2>
                                    </div>
                                    <div class="col-md-4">
                                        <app-pichart></app-pichart>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 p-0">
                        <div class="me-3 card-container">
                            <div class="card1 ps-2">
                                <app-line-chart></app-line-chart>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 p-0">
                        <div class="card-container me-2">
                            <div class="card1">
                                <app-column></app-column>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2 mt-3">
                    <div class="col-md-4 p-0">
                        <div class="me-3 card-container">
                            <div class="card1">
                                <app-line></app-line>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="me-3 card-container">
                            <div class="card2">
                                <div class="row card2 bg-white">
                                    <div class="col-md-6">
                                        <app-polar-chart></app-polar-chart>
                                    </div>
                                    <div class="col-md-6 p-0">
                                        <app-checkbox></app-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-0">
                        <div class="card-container me-2">
                            <div class="card1">
                                <app-progress></app-progress>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3 p-0">
                        <div class="card-container" style="margin-right: 1.9rem;">
                            <div class="card1 p-1">
                                <app-dotted-line></app-dotted-line>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-0">
                        <div class="card-container" style="margin-right: 1.9rem;">
                            <div class="card2">
                                <div class="row card2">
                                    <span class="text-center fw-bolder span1 mt-1">LOREM IPSUM DOLOR SIT AMET</span>
                                    <div class="col-md-6" style="margin-bottom: -11.5px;">
                                        <app-radial-bar></app-radial-bar>
                                    </div>
                                    <div class="col-md-6" style=" margin-bottom: -11.5px;">
                                        <app-radial2></app-radial2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 p-0">
                        <div class="card-container me-2">
                            <div class="card1">
                                <app-distributed-columns></app-distributed-columns>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>