<div class="my-drawer">
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>
<div class="">
    <span (click)="openNav()">
        <span class="material-symbols-outlined fs-2 menu-margin pt-2" role='button'>
            menu
        </span>
    </span>
</div>
<div id="main">
    <span class="material-symbols-outlined fs-2 mb-5">
        monitoring
    </span><br>
    <span class="material-symbols-outlined fs-2 mb-5">
        deployed_code
    </span><br>
    <span class="material-symbols-outlined fs-2 mb-5">
        monetization_on
    </span><br>
    <span class="material-symbols-outlined fs-2 mb-5">
        stack
    </span><br>
    <span class="material-symbols-outlined fs-2 ">
        settings
    </span>
</div>
</div>